$mainBlue : #2a2a72;
$lightBlue : #009ffd;
$mainWhite : #f3f3f3;
$mainDark : #232528;
$mainYellow : #ffa400;
$lightRed : #ff3333;
$lightGreen : #00BFA5;

body{
  font-family: 'Oswald', sans-serif !important;
  background: $mainWhite !important;
  color: $mainDark;
}

.btn-black {
  background: transparent !important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: $mainDark;
  border-radius: 0 !important;
  border: 0.1rem solid $mainDark !important;
}

.btn-black:hover {
  background: $mainDark !important;
  color: $mainWhite !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: $lightRed !important;
}

.text-title {
  font-family: 'Pacifico';
}

.text-blue {
  color: $mainBlue;
}
.text-yellow {
  background-color: $mainYellow !important;
}

.text-bright {
  color: $lightBlue;
}

.cart-icon{
  color: $mainYellow !important;
  transition: 200ms;
  opacity: 1 ;
  padding: 2px;
  &:hover{
    opacity:.7;
  }
  .title {
    font-size: 1.1rem;
  }
}

.nav-link:hover {
  color: #ffa400 !important;
  text-decoration: none !important;
}

.link{
  text-decoration: none;
}

.text-lightgreen{
  color: $lightGreen;
}

.products-container{
  .product{
    transition: all 100ms linear;
    img{
      transition: all 100ms linear;
    }
    
    &:hover img{
      transform: translateY(-30px);
    }

    .card-image{
      position: relative;
      width: 100%;
      overflow: hidden;
      &::before{
        content: "Tap to Details";
        position: absolute;
        background: rgba(0, 0, 0, 0.411);
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        z-index: 9;
        color: $mainWhite;
        font-size: 1.5rem;
        cursor: pointer;
        opacity: 0;
        transition: all 200ms linear;
      }
      &:hover::before{
        opacity: 1;
      }
    }

    .cart-btn{
      transition: all 100ms linear;
      background-color: $mainYellow;
      opacity: .9 ;

      .plus-icon{
        transition: all 100ms linear;
      }
      &:hover{
        opacity:1;
        .plus-icon{
          color: $lightGreen;
        }
      }
    }
  }
}

.carousel {
  .carousel-item{
    // height: 500px !important;
    
    img {
      object-fit:cover !important;
      object-position: center !important;
      height: 50vh !important;
      overflow: hidden !important;
    }
  }
}